{% extends 'pizza/base.html' %}
{% block title %}Edit your order{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Pizza</h1>
        {{ note }}
        <br><br>
        <form action="{% url 'edit_order' pizza.id %}" method="post">
            {% csrf_token %}

            {{ pizzaform }}

            <input type="submit" value="Edit Pizza">
        </form>
    </div>
{% endblock %}