{% extends 'pizza/base.html' %}

{% block title %}Order Pizzas{% endblock %}

{% block body %}
    <div class="container">
        <h1>Order Pizzas</h1>
        <h2>{{ note }}</h2>

        <form action="{% url 'pizzas' %}" method="post">
            {% csrf_token %}
            {{ formset.management_form }}

            {% for form in formset %}
                {{ form }}
                <br><br>
            {% endfor %}
            <input type="submit" value="Order pizzas">
        </form>
    </div>
{% endblock %}